<nav class="navbar">
  <div class="navbar-container">
    <a class="logo" href="#">Cultura Viva</a>
    <ul class="navbar-menu">
      <li><a routerLink="/">Inicio</a></li>
      <li><a routerLink="/home">Inicio</a></li> |
      <li><a routerLink="/eventos">Eventos</a></li>
      <li><a routerLink="/Menú">Menú</a></li>
      <li><a routerLink="/Información">Información</a></li>
      <li><a routerLink="Login">Registrarse</a></li>
      <li><a routerLink="Contactos">Redes sociales</a></li>
      <li><a routerLink="/eventos">Eventos</a></li>
    </ul>
  </div>
</nav>


