<header>
  <nav class="navbar">
    <div class="navbar-container">
      <a class="logo" routerLink="/">Cultura Viva</a>
      <ul class="navbar-menu">
        <li><a routerLink="/" routerLinkActive="active" >Inicio</a></li>
        <li><a routerLink="/eventos" routerLinkActive="active">Eventos</a></li>
        <li><a routerLink="/informacion" routerLinkActive="active">Información</a></li>
        <li><a routerLink="/register" routerLinkActive="active">Registrarse</a></li>
        <li><a routerLink="/login" routerLinkActive="active">Iniciar sesión</a></li>
        <li><a routerLink="/contactos" routerLinkActive="active">Redes sociales</a></li>
      </ul>
    </div>
  </nav>
</header>

<hr>

<main>
  <router-outlet></router-outlet>
</main>

<hr>

<footer>
  <p>&copy; 2025 Cultura Viva. Todos los derechos reservados.</p>
</footer>
