<header>
  <nav class="navbar">
    <div class="navbar-container">
      <a class="logo" routerLink="/">Cultura Viva</a>
      <ul class="navbar-menu">
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Inicio</a></li>
        <li><a routerLink="/eventos" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Eventos</a></li>
        <li><a routerLink="/informacion" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Información</a></li>

        <!-- Mostrar solo si NO está logueado -->
        <li *ngIf="!authService.isLoggedIn()"><a routerLink="/register" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Registrarse</a></li>
        <li *ngIf="!authService.isLoggedIn()"><a routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Iniciar sesión</a></li>

        <!-- Mostrar solo si está logueado -->
        <li *ngIf="authService.isLoggedIn()">
          <a href="#" (click)="logout()">Cerrar Sesión</a>
        </li>
      </ul>
    </div>
  </nav>

<main>
  <router-outlet></router-outlet>
</main>


<footer>
  <p>&copy; 2025 Cultura Viva. Todos los derechos reservados.</p>
</footer>
