header {background-color:black; 
  color:white;
  padding: 15px 30px;
  text-align:center;
  font-size: 1.2rem;
  
}      


footer {
  background-color:purple;
  color: white;
  text-align: left;
  padding: 0;
  position:absolute;
  margin: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}