<div class="register-container">
  <h2 class="register-title">Registrarse</h2>

  <form (ngSubmit)="registrarUsuario()" #form="ngForm" class="register-form">
    <!-- Campo para ingresar nombre de usuario -->
    <div class="form-group">
      <label for="username">Usuario:</label>
      <input type="text" id="username" name="username" [(ngModel)]="usuario.username" required />
    </div>

    <!-- Campo para ingresar contraseña -->
    <div class="form-group">
      <label for="password">Contraseña:</label>
      <input type="password" id="password" name="password" [(ngModel)]="usuario.password" required />
    </div>

    <!-- Campo para ingresar email -->
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" [(ngModel)]="usuario.email" required />
    </div>

    <!-- Botón para enviar el formulario -->
    <button type="submit" class="register-button">Registrar</button>

    <!-- Mensaje de éxito o error debajo del botón -->
    <div *ngIf="mensaje" class="alert-container mt-3">
      <div
        class="alert"
        [ngClass]="{
          'alert-success': mensajeTipo === 'exito',
          'alert-danger': mensajeTipo === 'error'
        }"
        role="alert"
      >
        {{ mensaje }}
      </div>
    </div>
  </form>
</div>
